:root {
  --black: #1e2024;
  --lighter: #ffffff40;
  --dark: #00000028;
  --darker: #00000040;
  --grey: #6b6d71;
  --grey-lt: #c0c2c7;
  --white: #fcfcfc;
  --yellow: #ffff02;

  /* usage */
  --bg: var(--grey);
  --button: var(--white);
  --button-disabled: var(--grey-lt);
  --button-disabled-text: var(--grey);
  --button-text: var(--black);
  --footer: var(--grey-lt);
  --highlight: var(--white);
  --overlay1: var(--lighter);
  --overlay2: var(--dark);
  --overlay3: var(--darker);
  --text: var(--black);
  --text-lt: var(--grey);
}
