:root {
  /* ui colors */
  --white: #fcfcfc;
  --grey3: #c0c2c7;
  --grey2: #8b8d91;
  --grey1: #6b6d71;
  --grey0: #4b4d51;
  --black: #1e2024;
  --lighter: #ffffff40;
  --darker: #00000040;
  --shadow: #00000060;
  --red-dk: #900000;

  /* usage */
  --bg: var(--grey1);
  --bg-alt: var(--grey2);
  --button: var(--white);
  --button-alt: var(--black);
  --button-alt-text: var(--white);
  --button-disabled: var(--grey3);
  --button-disabled-text: var(--grey1);
  --button-text: var(--black);
  --delete: var(--red-dk);
  --note-default: var(--blue);
  --count: var(--lighter);
  --count-text: var(--grey0);
  --highlight: var(--white);
  --overlay1: var(--lighter);
  --overlay2: var(--darker);
  --text: var(--black);
  --text-alt: var(--grey0);
  --version-text: var(--grey0);
}
