:root {
  --font: "Inter", "Helvetica Neue", sans-serif;
  --font-size-lg1: 26px;
  --font-size-lg0: 20px;
  --font-size: 16px;
  --font-size-sm0: 15px;
  --font-size-sm1: 12px;
  --line-height: 1.2em;
}

@font-face {
  font-family: Inter;
  src: url("../assets/Inter-VariableFont_slnt,wght.ttf")
}
