:root {
  --gap0: 4px;
  --gap1: 8px;
  --gap2: 16px;

  /* usage */
  --dot: 5px;
  --handle-width: calc((4 / 6) * var(--note-height));
  --icon: 22px;
  --icon-lg: 32px;
  --note-gap: 2px;
  --note-height: calc(3 * var(--line-height) + 2 * var(--gap1));
  --radius0: 2px;
  --radius1: 4px;
  --text-padding: var(--gap1) var(--gap2);
}
