.main {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  background: var(--grey);
}

.spacer {
  flex-grow: 1;
}

.colors {
  height: calc(2 * var(--note-height));
}

.text {
  flex-shrink: 0;
  border: 0;
  background: transparent;
  padding: var(--text-padding);
  font-family: inherit;
  font-size: inherit;
  resize: none;
  user-select: none;
}

.buttons {
  display: flex;
  gap: var(--pad0);
  padding: var(--pad0);
}

.buttons button {
  flex-grow: 1;
}
