.main {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: var(--gap0);
  background: var(--bg);
}

.top {
  flex-grow: 1;
}

.colors {
  height: calc(2 * var(--note-height));
  margin: var(--gap2) 0;
}

.text {
  flex-shrink: 0;
  border: 0;
  background: transparent;
  padding: var(--text-padding);
  font-family: inherit;
  font-size: inherit;
  resize: none;
  user-select: none;
}

.text:focus {
  outline-color: var(--highlight);
}

.buttons {
  display: flex;
  gap: var(--gap0);
  margin: var(--gap2) 0;
}

.buttons button {
  flex-grow: 1;
  padding: var(--gap2);
}
