.handle {
  padding: var(--gap0);
  width: var(--handle-width);
  height: var(--note-height);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background: var(--overlay1);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: var(--dot);
  height: var(--dot);
  border-radius: 50%;
  background: var(--overlay2);
}
