.menu {
  white-space: pre-wrap;
}

.menu button {
  width: 100%;
  display: flex;
  border: 0;
  background: transparent;
  font-size: inherit;
}

.menu button + button {
  margin-top: var(--gap2);
}
