.dialog {
  background: transparent;
  border: 0;
}

.dialog::backdrop {
  background: #00000060;
}

.wrap {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: var(--gap2);
  margin: var(--gap2);
  border-radius: var(--radius1);
  background: var(--white);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-lg0);
}

.top {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: var(--gap1);
}

.icon {
  width: var(--icon);
  height: var(--icon);
}

.close {
  padding: 0;
  border: 0;
  margin: 0;
}
