.main {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}

.parent {
  flex-shrink: 0;
  padding-bottom: var(--gap0);
  background: var(--bg-alt);
  margin: var(--note-gap) var(--note-gap) 0 var(--note-gap);
}

.content {
  flex-grow: 1;
  overflow-y: scroll;
}

.notes {
  padding: var(--note-gap);
}

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap1) var(--gap2);
  background: var(--bg-alt);
  box-shadow:
    0 -2px 5px 0 rgb(0 0 0 / 12%),
    0 -3px 10px 0 rgb(0 0 0 / 16%);
}

.footer a {
  color: var(--white);
  text-decoration: none;
}

.version {
  margin-left: var(--gap1);
  font-size: var(--font-size-sm);
  color: var(--version-text);
}
