.main {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.parent {
  flex-shrink: 0;
  border: 1px solid red;
}

.content {
  border: 1px solid green;
  flex-grow: 1;
}

.notes {
  border: 1px solid blue;
}

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  background: #f0f0ff;
}

.version {
  margin-left: 8px;
  font-size: 0.8em;
  color: grey;
}
