.link {
  position: relative;
  height: 100%;
  padding: var(--text-padding);
}

.count {
  position: absolute;
  bottom: var(--gap0);
  right: var(--gap0);
  padding: 0 var(--gap1);
  border-radius: 50%;
  background: var(--count);
  color: var(--count-text);
  font-size: var(--font-size-sm1);
}

.hidden {
  visibility: hidden;
}
