@import url("./styles/colors.css");
@import url("./styles/fonts.css");
@import url("./styles/sizes.css");

*, *::before, *::after {
  box-sizing: inherit
}

html, body {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: var(--font-size);
  padding: 0;
  margin: 0;
  color: var(--text);
  line-height: var(--line-height);
}

.note {
  display: flex;
  border-radius: var(--radius1);
  background: white;
}

.note + .note {
  margin-top:  var(--note-gap);
}

.controls {
  flex-shrink: 0;
  width: var(--handle-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap1);
  background: var(--overlay1);
}

.text {
  flex-grow: 1;
  white-space: pre-wrap;
  overflow: hidden;
}

.text a {
  text-decoration: none;
  color: inherit;
}

.handle {
  flex-shrink: 0;
}

button {
  padding: 0;
  border: 0;
  background: var(--button);
  color: var(--button-text);
  font: inherit;
}

button:focus {
  outline: none;
}

.button {
  padding: var(--gap1) var(--gap2);
  border-radius: var(--radius1);
  background: var(--button);
  color: var(--button-text);
  font-size: var(--font-size-lg1);
}

.button:disabled {
  background: var(--button-disabled);
  color: var(--button-disabled-text);
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
}

.icon-button:disabled {
  background: var(--button-disabled);
  color: var(--button-disabled-text);
}

.button-highlighted {
  border-color: var(--button-disabled-text);
}

.icon {
  width: var(--icon-lg);
  height: var(--icon-lg);
}

.controls .icon {
  width: var(--icon);
  height: var(--icon);
}
